# Server Configuration
NODE_ENV=development
PORT=3001

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/pebloNote

# JWT Authentication
JWT_SECRET=
JWT_REFRESH_SECRET=

# Google Generative AI
GEMINI_API_KEY=

# CORS Configuration
NEXT_APP_URL=http://localhost:3000