# Hocuspocus Server Configuration
NODE_ENV=development
PORT=1234

# JWT Authentication
JWT_SECRET=7a979f163af60e00feba0d1091ae78dc7e4674a0ed36faaebc984ac1f4e414f9

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/pebloNote